
$headerHeight = 0.98rem
$headerTextColor = #fff // #000
$headerBackColor =  linear-gradient(0deg, #C12D48, #E12860)// linear-gradient(0deg, #6175f7, #69abfd)
$bottomHeight = 1.15rem
$contentColor = #4c4f54
$titleColor = #1f293f
$backgroundColor = #f8f8f9
$borderColor = #dcdee2
$disabledColor = #c5c8ce
$iconColor = #808695
$erroColor = #f44
$themeTextColor =#E12860 //#2e77d2
$themeButtonColor =  #E12860 //#69abfd

$themeDisableColor= #A7ACB8
$themeActiveColor= #E12860//#6175f7
preview()
    width: 3.38rem
    height: 1.92rem

wrapper()
  position: absolute
  top: 0
  right: 0
  left: 0
  bottom: 0
  background: $backgroundColor
